@model IEnumerable<StudentManagement.Models.Departments>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Departments</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a style="color: green;" asp-action="Index" asp-controller="Departments">Home</a></li>
                        <li class="breadcrumb-item active">List view</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a class="btn btn-primary" asp-action="Create">Create new Department</a>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <form method="get" action="@Url.Action("Index")">
                                    <input type="text" name="searchString"/>
                                    <button type="submit" class="btn btn-primary btn-sm mb-0" value="Search"> Search </button>
                                    <a class="btn btn-info btn-sm" asp-action="Index"> Back to list</a>
                                </form>
                            </div>
                        </div>
                        @if (TempData["Message"] != null)
                        {
                                <div class="my-3 text_success">
                                    <p class="text-success">@TempData["Message"]</p>
                                </div>
                        }
                    </div>
                    <table class="mt-3 table table-bordered table-striped">
                        <thead class="table-primary">
                            <tr>
                                <th>@Html.DisplayNameFor(Model => Model.Name)</th>
                                <th>@Html.DisplayNameFor(Model => Model.Logo)</th>
                                <th>@Html.DisplayNameFor(Model => Model.Leader)</th>
                                <th>@Html.DisplayNameFor(Model => Model.Begining_date)</th>
                                <th>@Html.DisplayNameFor(Model => Model.Status)</th>
                                <th width="10%" class="text-center" colspan="3">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Logo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Leader)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Begining_date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.StatusText)</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-controller="Departments" asp-route-id="@item.Id">Edit</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-controller="Departments" asp-route-id="@item.Id">Details</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm btn-outline-secondary" asp-action="Delete" asp-controller="Departments" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Pagination -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section><!-- /.content -->

</div><!-- /.content-wrapper -->
