@model StudentManagement.Models.Users

@{
    ViewData["Title"] = "Details";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">User Details</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a style="color: green;" href="#">User</a></li>
                        <li class="breadcrumb-item active">Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h5 class="card-title">User Details</h5>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Extra_code)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Extra_code)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Fist_name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Fist_name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Last_name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Last_name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Full_name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Full_name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Phone)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Address)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Birthday)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Birthday)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Gender)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.GenderText)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Avatar)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Avatar)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.StatusText)
                                </dd>
                            </dl>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
